.register-container {
  max-width: 400px;
  margin: 80px auto;
  background: linear-gradient(145deg, #ffffff, #f5f5f5);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.register-container h2 {
  text-align: center;
  color: #007bff;
  margin-bottom: 20px;
}

.register-container input {
  width: 100%;
  margin: 10px 0;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.register-container button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-container button:hover {
  background-color: #0056b3;
}

.message {
  color: green;
  text-align: center;
  margin-bottom: 10px;
}

.navigate-link {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #333;
}

.link-button {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
  font-size: 14px;
  padding: 0;
}

.link-button:hover {
  color: #0056b3;
}
